/*
FILE NAME: common.css
WRITTEN BY: Andreas Williams
WHEN: September 2015
PURPOSE: stylesheet for the text and headers in general
*/

body {
	font-family: Georgia;
}
h1 {
	font-size: 20pt;
	text-align: center;
}

h3 {
	font-size: 14pt;
}

p {
	font-size: 11pt;	
}

.bildetekst {
	font-family: Georgia;
	font-size: 9pt;
	font-weight: italic;
}