/*
FILE NAME: common.css
WRITTEN BY: Andreas Williams, Thomas Skuggevik
WHEN: September 2015
PURPOSE: stylesheet for the text and headers in general, as well as navbar and footer
*/

body {
	font-family: Georgia;
}
h1 {
	font-size: 20pt;
	text-align: center;
}

h3 {
	font-size: 14pt;
}

p {
	font-size: 11pt;	
}

.bildetekst {
	font-family: Georgia;
	font-size: 9pt;
	font-weight: italic;
}
/*
WRITTEN BY: Thomas Skuggevik
WHEN: November 2015
PURPOSE: styling for the navbar
*/
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  background-color: #00a087;
  text-align: center;
}

.fixed-nav-bar li { 
  height: 50px;
  line-height: 50px;

}

.menu_items ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.menu_items li {

  font-size: 150%;
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
}

.menu {
	background-color: white;
	text-align:center;
	height: 50px;
	margin-top: 40px;
}

.menu_items img {
  width: 143px;
  height: 40px;
  vertical-align: middle;
}

.menu_items a {
  text-decoration: none;
  font-family:Calibri;
  color: black;
  display: list-item;
  list-style-type: none;
}
/* these are the elements inside the dropdown menu */
.menu_items li ul li {
  font-size: 90%;
  display: table;
  text-indent: 20px;
  text-align: left;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
}

.menu_items li ul {
  display: none;
  background-color: #00a087;
  width: 130px;
}

.menu_items li:hover{
  text-shadow: 1px 1px grey;
}

/* highlights the chosen element in the dropdown menu */
.menu_items li ul li:hover {
  background-color: #00b498;
}

/*
WRITTEN BY: Andreas Williams
WHEN: September 2015
PURPOSE: stylesheet for the footer
*/

.footerimg {
  vertical-align: center;
  width: 30px;
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  margin: auto;
  width: 800px;
  margin-top: 80px;
  text-align: center;
  border-top: 5px solid #00a087;
}