body{
  width: 800px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  text-align: center;
  font-family: georgia;
}

#contactinfo, #map {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: left;
}

#manphone {
  float: right;
  margin-top: -270px;
}

h3 {
  padding-bottom: 10px;
}

#footer_items li {
  margin-right: 2px;
  margin-left: 2px;
  display: inline;
}

#footer_items img {
  width: 30px;
  height: 30px;
}

#footer_items ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer_items img {
  vertical-align: middle;
}

footer {
  text-align: center;
  border-top: 5px solid #00a087;
}