/*
FILE NAME: contact.css
WRITTEN BY: Thomas Skuggevik
WHEN: November 2015
PURPOSE: specific styling for contact.html
*/

body{
  width: 800px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  text-align: center;
}

#contactinfo, #mapview {
  margin-top: 80px;
  margin-bottom: 40px;
  text-align: left;
}

#manphone {
  float: right;
  margin-top: -240px;
}

h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}
