body {
	margin-top: 120px;
}

h2 {
	position: relative;
	font-family: Georgia;
	text-align: center;
}

.buttonspots {
	margin-bottom:10px;
}

#news {
	position: relative;
	width: 600px;
	height: 500px;
	margin: auto;
	overflow: scroll;
	overflow-x: hidden;


}


#frame {
	position: relative;
	width: 800px;
	height: 500px;
	margin: auto;
}

#product {
	position: absolute;
	top: 100px;
	left: 730px;
	margin-top: 10px;
	height: 325px;
	width: 325px;
}




#superkewl {
	position: absolute;
	top:40px;
	right: 700px;
	height: 400px;
	width: 400px;
}

.anews {
	margin-bottom: 10px;
	border-top: 5px solid #00a087 ;
	border-bottom: 5px solid #00a087 ;
	border-color:#00a087;
	font-family: Helvetica;
	font-size: 10;
}




#news::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#news::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#news::-webkit-scrollbar-thumb
{
	background-color: #00a087;
	border: 2px solid #555555;
}

#superkewltekst {
	position: absolute;
	font-family: Georgia;
	font-size: 9pt;
	font-weight: italic;
	width: 200px;
	height: auto;
	right: 800px;
	text-align: left;
	top: 450px;

}

#producttekst {
	position: absolute;
	font-family: Georgia;
	font-size: 9pt;
	font-weight: italic;
	width: 200px;
	height: auto;
	left: 775px;
	text-align: left;
	top: 450px;


}