.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  background-color: #00a087;
  text-align: center;
}

.fixed-nav-bar li { 
  height: 50px;
  line-height: 50px;

}

.menu_items ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.menu_items li {

  font-size: 150%;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.menu {
	background-color: white;
	text-align:center;
	height: 50px;
	margin-top: 40px;

}

.menu_items img {
  width: 143px;
  height: 40px;
  vertical-align: middle;
}

.menu_items a {
  text-decoration: none;
  font-family:Calibri;
}

.menu_items li ul li {
  font-size: 90%;
  display: table;

}

.menu_items li ul {
  display: none;
    background-color: #00a087;
}

.menu_items a:hover{
  font-weight: bold;
}