#Terminator, #Vacutron, #Suckmaster, h2
{
	text-align: left;
}

body{
	width: 800px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  text-align: center;
  font-family: georgia;
}

.purchaseButton
{
	background-color: #ffee36;
	border: 1px solid #4e6096;
	display: inline-block;
	-webkit-border-radius:10px;
	text-shadow:-0.5px 0px 0px #283966;
}

.productimg
{
	width: 200px;
	height: 200px;
}